@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EmployeeTracker</h1>
    <p>This application will keep track of your casual employee' tasks and expenses.</p>
    <p>Use the links atop this page for quick navigation.</p>
</div>
